body {
	background-color: #bfbab0;
}

@keyframes pulse {
  from, to { stroke-width: 2; }
  50% { stroke-width: 4; }
}

.node {
  animation: pulse 4s ease infinite;
}

@keyframes move {
	100% { 
    	motion-offset: 100%;
    	offset-distance: 100%;
  	}
}

.marker {
  	offset-path: path('M 100 450 L 300 300');
  	animation: move 4s linear infinite;
}